<script src="https://giscus.app/client.js"
        data-repo="koyokr/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxMzg4OTAzOTY="
        data-category="Announcements"
        data-category-id="DIC_kwDOCEdMnM4B_3I_"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://koyo.kr/giscus_light.css"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>